[submodule "authentication-service"]
	path = authentication-service
	url = git@github.com:MatchattaToyaem/authentication-service.git
[submodule "chat-service"]
	path = chat-service
	url = git@github.com:MatchattaToyaem/chat-service.git
[submodule "chatbot-service"]
	path = chatbot-service
	url = git@github.com:MatchattaToyaem/chatbot-service.git
[submodule "document-service"]
	path = document-service
	url = git@github.com:MatchattaToyaem/document-service.git
[submodule "etl-service"]
	path = etl-service
	url = git@github.com:MatchattaToyaem/etl-service.git
[submodule "kong-gateway"]
	path = kong-gateway
	url = git@github.com:MatchattaToyaem/kong-gateway.git
[submodule "shared-security"]
	path = shared-security
	url = git@github.com:MatchattaToyaem/shared-security.git
[submodule "user-interface"]
	path = user-interface
	url = git@github.com:MatchattaToyaem/user-interface.git
